/*!
 * Creative v1.0.4 (http://startbootstrap.com/template-overviews/creative)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

html, body {
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
hr {
	border-color: #d49329 /*d49329 /*f05f40*/*/;
	border-width: 3px;
	max-width: 50px;
}
section
{
	z-index: 100;
}
.wrapper
{
	position: relative;
    text-align: center;
	z-index: 1000;
}
hr.light {
	border-color: white;
}
a {
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
	color: #d49329 /*d49329 /*f05f40*/*/;
}
a:hover, a:focus {
	color: #d49329;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lobster', "Times New Roman", Times, serif;
}
p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}
li{
	padding-bottom: 4%;
}
#product-portfolio
{
	background-color: #5f688b;
}
.white-bordered
{
	border: white 1px double;
	padding: 90px;
}
.white-background
{
	background: white;
	padding: 90px;
	color: #222;
}
.bg-primary {
	background-color: #d49329 /*f05f40*/;
}
.bg-dark {
	background-color: #222222;
	color: white;
}
.bg-violet {
	background-color:#0e1a42;
	color: white;
}
.bg-blue {
	background-color:#0e1a42;
	color: white;
}
.bg-magenta {
	background-color:#751425;
	color: white;
}
.bg-pumpkin {
	background-color:#a45500;
	color: white;
}
.bg-purple {
	background-color:#400936;
	color: white;
}
.bg-green {
	color: white;
	background-color: #105f39;
}
.bg-teal {
	background-color: #013647;
	color: white;
}
.bg-gold {
	background-color: #a46f18 ;
	color: white;
}
.bg-light-gray {
	background-color: #f7f7f7
}
.bg-darkest-gray {
	background-color: #222
}
.bg-interlaced {
	background-image:url(../img/interlaced_pattern.png)
}
.bg-redpoly {
	background-image:url(../img/large_bg/red_bg.png);
}
.text-faded {
	color: rgba(255, 255, 255, 0.7);
}
section {
	padding: 100px 0;
}
aside {
	padding: 50px 0;
}
.no-padding {
	padding: 0;
}
/* EXAMPLE 3

line height is 20px by default so add 30px top and bottom to equal the new .navbar-brand 80px height  */

.navbar-brand {
  height: 100px;
}
.navbar-logo
{
	padding:10px;
}
.nav >li >a {
  padding-top: 2s0px;
  padding-bottom: 20px;
}
.navbar-logo img
{
	    height: 85px;
}
.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}


.navbar-default {
	background-color: white;
	border-color: rgba(34, 34, 34, 0.05);
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
	color: #d49329 /*f05f40*/;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
	color: #d49329;
}
.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	color: #222222;
}
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover {
	color: #d49329 /*f05f40*/;
}
.navbar-default .nav > li.active > a, .navbar-default .nav > li.active > a:focus {
	color: #d49329 /*f05f40*/ !important;
	background-color: transparent;
}
.navbar-default .nav > li.active > a:hover, .navbar-default .nav > li.active > a:focus:hover {
	background-color: transparent;
}
.navbar-default.navbar-blue
{	
	background-color: #0e1a42;
	color: white;
	border-left:none;
	border-right: none;
	border-radius: 0;
}
@media (min-width: 768px) {
.navbar-brand {
  height: 10px;
}
.navbar-logo
{
	padding:6px 10px 10px 10px;
}
.nav >li {
  padding-bottom: 0;
}
.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar
	{
		margin-bottom: 0;
	}
.navbar-logo img
{
	height:68px;	
}
.navbar-default {
	background-color: transparent;
	border-color: rgba(255, 255, 255, 0.3);
}
.navbar-dark
{
	background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
}

.navbar-default .navbar-header .navbar-brand {
	color: rgba(255, 255, 255, 0.7);
}
.navbar-default .navbar-header .navbar-brand:hover,  .navbar-default .navbar-header .navbar-brand:focus {
	color: white;
}
.navbar-default .nav > li > a,  .navbar-default .nav > li > a:focus {
	color: rgba(255, 255, 255, 0.7);
}
.navbar-default .nav > li > a:hover,  .navbar-default .nav > li > a:focus:hover {
	color: #ffffff;
}
.navbar-default.affix, .navbar-default.perm-affix {
	background-color: white;
	border-color: rgba(34, 34, 34, 0.05);
}
.navbar-dark.affix .nav > li > a, .navbar-dark .nav > li > a,  .navbar-dark .nav > li > a:focus
{
	color: #222222;
}
.navbar-default.affix .navbar-header .navbar-brand, .navbar-default.perm-affix .navbar-header .navbar-brand  {
	color: #d49329 /*f05f40*/;
	font-size: 14px;
}
.navbar-default.affix .navbar-header .navbar-brand:hover,  .navbar-default.affix .navbar-header .navbar-brand:focus, .navbar-default.perm-affix .navbar-header .navbar-brand:hover,  .navbar-default.perm-affix .navbar-header .navbar-brand:focus {
	color: #d49329;
}
.navbar-default.affix .nav > li > a,  .navbar-default.affix .nav > li > a:focus, .navbar-default.perm-affix .nav > li > a,  .navbar-default.perm-affix .nav > li > a:focus {
	color: #222222;
}
.navbar-default.affix .nav > li > a:hover,  .navbar-default.affix .nav > li > a:focus:hover, .navbar-default.perm-affix .nav > li > a:hover,  .navbar-default.perm-affix .nav > li > a:focus:hover  {
	color: #d49329 /*f05f40*/;
}
}

header {
	position: relative;
	width: 100%;
	min-height: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	/*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-color: #0e1a42;
	/*background-image:url('../img/portfolio/header_shop_md.jpg');*/
	text-align: center;
	color: white;text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
.header-content
{
	background-color: rgba(0, 0, 0, 0.65);
}
header.difference {
	background-image: url('../img/header_diff.jpg');
  min-height: 80%;
}
header.career-header {
	background-image: url(../img/sunset_bg.png);
  	min-height: 50%;
}
header.about-header {
	background-image: url(../img/forest_bg.png);
  	min-height: 50%;
}
header.history-header {
	background-image: url(../img/road_bg.png);
  	min-height: 50%;
}
header.contact-header {
	background-image: url(../img/careers_bg.png);
  	min-height: 50%;
}
header.reward-header {
	background-image: url(../img/dinner_bg.png);
  	min-height: 50%;
}
header.laundry-header {
	background-image: url(../img/laundry_bg.png);
  	min-height: 50%;
}
header.carwash-header {
	background-image: url(../img/carwash_bg.png);
  	min-height: 50%;
}
header.fleamarket-header {
	background-image: url(../img/fleamarket_bg.png);
  	min-height: 50%;
}
header.snackshack-header {
	background-image: url(../img/snackshack_bg.png);
  	min-height: 50%;
}
header .header-content {
	position: relative;
	text-align: center;
	padding: 100px 15px 100px;
	width: 100%;
}
header .header-content
{
	position: relative;
	z-index: 1000;
}
header .header-content .header-content-inner h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 2em;
}
header .header-content .header-content-inner hr {
	margin: 30px auto;
}
header .header-content .header-content-inner p {
	font-weight: 300;
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	margin-bottom: 50px;
}

@media (min-width: 768px) {
	header {
		min-height: 100%;
	}
	header.difference {
		min-height:80%;	
	}
	header .header-content {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		padding: 0 50px;
	}
	header .header-content .header-content-inner {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		margin-bottom: 20px;
	}
	header .header-content .header-content-inner p {
		font-size: 18px;
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}
.section-heading {
	margin-top: 0;
	
}
.service-box {
	max-width: 400px;
	margin: 50px auto 0;
}

@media (min-width: 992px) {
	.service-box {
		margin: 20px auto 0;
	}
}
.service-box p {
	margin-bottom: 0;
}
.portfolio-box {
	position: relative;
	display: block;
	max-width: 650px;
	margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
	color: white;
	opacity: 0;
	display: block;
	background: rgba(14, 26, 66, 0.9);
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category, .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
	opacity: 1;
}
.portfolio-box:focus {
	outline: none;
}

@media (min-width: 768px) {
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
	font-size: 16px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	font-size: 22px;
}
}
.bg-redpoly .call-to-action h2, .bg-redpoly .call-to-action p
{
	color: #ffffff;	
}
.call-to-action h2 {
	margin: 0 auto 20px;
}
.text-primary {
	color: #d49329 /*f05f40*/;
}
.no-gutter > [class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}
.btn-default {
	color: #222222;
	background-color: #ffffff;
	border-color: #ffffff;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	color: #222222;
	background-color: #f2f2f2;
	border-color: #ededed;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	background-image: none;
}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
	background-color: #ffffff;
	border-color: #ffffff;
}
.btn-default .badge {
	color: #ffffff;
	background-color: #222222;
}
.btn-primary {
	color: #ffffff;
	background-color: #d49329 /*f05f40*/;
	border-color: #d49329 /*f05f40*/;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: #ee4b28;
	border-color: #ed431f;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
	background-color: #d49329 /*f05f40*/;
	border-color: #d49329 /*f05f40*/;
}
.btn-primary .badge {
	color: #d49329 /*f05f40*/;
	background-color: #ffffff;
}
.btn {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	border: none;
	border-radius: 300px;
	font-weight: 700;
	text-transform: uppercase;
}
.btn-xl {
	padding: 15px 30px;
}
::-moz-selection {
 color: white;
 text-shadow: none;
 background: #222222;
}
::selection {
	color: white;
	text-shadow: none;
	background: #222222;
}
img::selection {
	color: white;
	background: transparent;
}
img::-moz-selection {
 color: white;
 background: transparent;
}
body {
	webkit-tap-highlight-color: #222222;
}
#portfolio .portfolio-item {
	margin: 0 0 15px;
	right: 0
}
#portfolio .portfolio-item .portfolio-link {
	display: block;
	position: relative;
	max-width: 400px;
	margin: 0 auto
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
	background: rgba(254,209,54,.9);
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all ease .5s;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
	opacity: 1
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
	position: absolute;
	width: 100%;
	height: 20px;
	font-size: 20px;
	text-align: center;
	top: 50%;
	margin-top: -12px;
	color: #fff
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
	margin-top: -12px
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3, #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
	margin: 0
}
#portfolio .portfolio-item .portfolio-caption {
	max-width: 400px;
	margin: 0 auto;
	background-color: #fff;
	text-align: center;
	padding: 25px
}
#portfolio .portfolio-item .portfolio-caption h4 {
	text-transform: none;
	margin: 0
}
#portfolio .portfolio-item .portfolio-caption p {
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 16px;
	margin: 0
}
#portfolio * {
	z-index: 2
}

@media (min-width:767px) {
	#portfolio .portfolio-item {
		margin: 0 0 30px
	}
}
@media (min-width:1200px) {
	.portfolio-caption
	{
		min-height: 140px;
	}
}
.sr-button
{
	color: #0e1a42;
	border-radius: 0;
}
.btn-sq
{
	border-radius: 0;
}
.btn-blue
{
	border-radius: 0;
	color: #ffffff;
	background-color: #0e1a42;
}
.btn-blue:hover{
	color:#B1B1B1;
}
footer
{
	padding:5em 0 2em 0;
	background-color: #0e1a42;
	
}
.footer-text p
{
	font-size: 1.1em;
	color: #ffffff;
}
#contact
{
	background-color: #ffffff;
}